# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bin/
gen/
out/
.DS_Store
*.iws
*.ipr
*.iml
*.ipr
*.swp
*.pyc
local.properties
*.metadata
.git/
.settings
.project
.classpath
target/
classes/
.idea/
build/
.gradle
android-studio.*
